html {
    width:90%;
    margin-left: 5%;
	background-color: rgba(0,0,200,0.2);
}

.mainTable {
    border: thin black solid;
    
}

.mainTable td, th {
    padding: 10px;
    border: thin black solid;
}

.mainTable th {
    text-align: center;
    font-size: 1.3em;
    background-color: rgba(0,0,0,0.1);
}

footer {
    position: absolute;
    bottom: 0px;
    width: 90%;
    text-align: center;
    background-color: rgba(0,0,200,0.1);   
}