html {
    width:90%;
    
    margin-left: 5%;
	background-color: rgba(0,0,200,0.2);
}

.container {
    margin: 20px;
}

h1 {
    text-align: center;
}

.mainTable {
    border: thin black solid;
    width:80%;
    margin-left: 10%;
}

.mainTable td, th {
    padding: 10px;
    border: thin black solid;
}

.mainTable th {
    text-align: center;
    font-size: 1.3em;
    background-color: rgba(0,0,0,0.1);
}

footer {
    position: absolute;
    bottom: 0px;
    width: 90%;
    text-align: center;
    background-color: rgba(0,0,200,0.1);   
}

iframe {
    visibility: hidden;

}

#activeFrame {
    visibility: visible;
}